@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body {
    background-color: #000;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#canvas {
    margin-top: 2%;
    
}